logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

platform-auth/.env
platform-gateway/.env
platform-item-catelog/.env
platform-transaction/.env
platform-inventory/.env

platform-auth/.dist
platform-gateway/.dist
platform-item-catelog/.dist
platform-transaction/.dist
platform-inventory/.dist

platform-auth/node_modules
platform-gateway/node_modules
platform-item-catelog/node_modules
platform-transaction/node_modules
platform-inventory/node_modules