PORT=3004
APP_ENV=development

POSTGRES_USER=postgres_inventory
POSTGRES_HOST=localhost
POSTGRES_PORT=5435
POSTGRES_PASSWORD=postgres_inventory
POSTGRES_DB=platform_inventory

DATABASE_INVENTORY_URL=postgresql://postgres_inventory:postgres_inventory@localhost:5435/platform_inventory