PORT=3001
APP_ENV=development

POSTGRES_USER=postgres_auth
POSTGRES_PASSWORD=postgres_auth
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=platform_auth

DATABASE_AUTH_URL=postgresql://postgres_auth:postgres_auth@localhost:5432/platform_auth

REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=secretKey
