# App
PORT=3005
APP_ENV=development

# Services
AUTH_SERVICE_URL=http://localhost:3001/graphql
ITEM_CATALOG_SERVICE_URL=http://localhost:3002/graphql
TRANSACTION_SERVICE_URL=http://localhost:3003/graphql
INVENTORY_SERVICE_URL=http://localhost:3004/graphql
