# App config
PORT=3002
APP_ENV=development

# Postgres config
POSTGRES_USER=postgres_item_catalog
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_PASSWORD=postgres_item_catalog
POSTGRES_DB=platform_item_catalog

# Database URL
DATABASE_ITEM_CATALOG_URL=postgresql://postgres_item_catalog:postgres_item_catalog@localhost:5433/platform_item_catalog

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=mysecurepassword